/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora { border: 3px blue ridge; 
	           width: 750px;
	           text-align: center;
               background-color: #476BE2 ; }

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla { width: 500px; 
	             border: 5px black solid; 
	             text-align: right;
                 position: relative; 
                 left: 30px;  
                 padding: 5px 5px;
                 background-color: white; 
                 font-family: "courier new";
                 font-size: 20px;
                 overflow: hidden;
             }
/*
botones normales: anchura y margen
.calculadora [type=button] { width: 95px;
                            height: 95px; 
	                        padding: 0; 
                            border-radius: 50%; }*/
/*botones especiales*/
.calculadora input.largo { 
                          background-color: #D742DC; 
                          width: 120px;
                          height: 40px; 
                      }

.numeros{

    background-color: #E0AE74;
    width: 95px;
    height: 95px; 
    padding: 0; 
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;

}

.para{

    background-color: #C69339;
    width: 95px;
    height: 95px; 
    padding: 0; 
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;

}

.dar{

    background-color: #FC5B5B;
    width: 320px;
    height: 95px; 
    padding: 0; 
    font-size: 40px;
    font-weight: bold;

}

.botonesleng{

    background-color: #938888; 
    width: 120px;
    height: 40px; 
}


.funciones{

    background-color: #E0AE74;
    width: 95px;
    height: 95px; 
    padding: 0; 
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;

}
.funciones2{

    background-color: #E0AE74;
    width: 95px;
    height: 95px; 
    padding: 0; 
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;


}




